* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    width: 100%;
    height: 100%;
  }
  
  body {
    width: 100%;
    min-height: 100%;
    background-image: url("images/login2\ \(1\)\ \(1\).jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Josefin Sans;
  }
  
  #container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 35vh;
    margin-top: 13vh;
  }
  
  .box {
    width: 90%;
    max-width: 400px;
    height: auto;
    background-color: rgb(255, 255, 255);
    margin-top: 3rem;
    border-radius: 30px;
    border: 30px solid #ffffff;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
      0 10px 10px rgba(0, 0, 0, 0.22);
  }
  
  #novaid {
    margin-top: 1rem;
  }
  
  #visualizar {
    margin-top: 1rem;
  }
  
  h1 {
    margin-top: 2rem;
  }
  
  a {
    text-decoration: none;
    color: #000000;
  }

  .box:hover{
    transform: scale(1.095);
    transition: all ease-in-out 1.1s;
  }
  